input:not([type="checkbox"]),
textarea {
  padding: 1em;
  width: 100%;
  border-radius: var(--radius);
  border-color: transparent;
  box-shadow: var(--shadow);
}

textarea {
  resize: vertical;
}

.invalid-feedback {
  color: var(--danger);
}