.outliner {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: var(--space);
  box-shadow: var(--shadow-right);
}

.outliner-item {
  padding: .8em;
  gap: calc(var(--space) / 2);
  background-color: var(--secondary);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
}

.outliner-item:hover,
.outliner-item.active {
  box-shadow: var(--active-shadow);
}

.outliner-item > *:not(:last-child) {
  margin-bottom: calc(var(--space) / 2);
  font-size: .9em;
}

.outliner-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}