:root {
  --secondary-color: #1E3348;
  --tertiary-color: #FF8811;
  --danger: #ff1139;
  --shadow-color: #2B4764;
}

:root {
  --family-sans-serif: 'Roboto', sans-serif;
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadow-left: rgba(0, 0, 0, 0.02) -1px 0px 0px 0px, rgba(27, 31, 35, 0.15) -1px 0px 0px 0px;
  --transition: .3s;
  --radius: 5px;
  --space: 20px;
}