:root {
  --primary: #0d1821;
  --secondary: #1E3348;
  --tertiary: #FF8811;
  --danger: #ff1139;
  --shadow-color: #2B4764;
  --white: #F1F5F9;
}

:root {
  --family-sans-serif: 'Roboto', sans-serif;
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, var(--shadow-color) 0px 0px 0px 1px;
  --shadow-left: rgba(0, 0, 0, 0.02) -1px 0px 0px 0px, var(--shadow-color) -1px 0px 0px 0px;
  --shadow-right: rgba(0, 0, 0, 0.02) 1px 0px 0px 0px, var(--shadow-color) 1px 0px 0px 0px;
  --active-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, var(--tertiary) 0px 0px 0px 1px;
  --transition: .3s;
  --radius: 5px;
  --space: 20px;
}